@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
  <h2>Scorecard</h2>          
  <table class="table table-bordered">
    <thead>
      <tr style="font-size: small;">
        <th>-</th>
        <th>Hole 1</th>
        <th>Hole 2</th>
        <th>Hole 3</th>
        <th>Hole 4</th>
        <th>Hole 5</th>
        <th>Hole 6</th>
        <th>Hole 7</th>
        <th>Hole 8</th>
        <th>Hole 9</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HC</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
        <tr>
        <td>Score</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
              <tr>
        <td>net</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
  <br>
    <table class="table table-bordered">
    <thead>
      <tr style="font-size: small;">
        <th>-</th>
        <th>Hole 10</th>
        <th>Hole 11</th>
        <th>Hole 12</th>
        <th>Hole 13</th>
        <th>Hole 14</th>
        <th>Hole 15</th>
        <th>Hole 16</th>
        <th>Hole 17</th>
                <th>Hole 18</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HC</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
        <tr>
        <td>Score</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
              <tr>
        <td>net</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Submit Golfer Score">
</div>


